body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.loading {
  text-align: center;
}

.page-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.actor-name,
.movie-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.actor-details,
.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.actor-image,
.movie-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.no-image {
  width: 100%;
  height: 300px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.movie-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

.actor-card,
.actor-image,
.movie-card .movie-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.actor-name,
.movie-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.actor-character,
.movie-character {
  font-size: 1em;
  color: #999;
}
